<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Multimedia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input formControlName="description" placeholder="Escribe algo..."></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="form.get('description')?.touched && form.get('description')?.invalid">
      La descripción es requerida.
    </ion-note>

    <ion-button expand="block" (click)="pickImage()">Seleccionar de la Galeria</ion-button>

    <ion-img [src]="previewImage" *ngIf="previewImage" class="preview-img"></ion-img>
    <ion-note color="danger" *ngIf="form.get('image')?.invalid && form.touched">
      Debes capturar o seleccionar una imagen.
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="form.invalid">Guardar</ion-button>
  </form>
</ion-content>
