<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Galería Multimedia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="image-container">
      <div class="image-preview" *ngIf="previewImage">
        <img [src]="previewImage" alt="Vista previa" />
      </div>
      <div
        class="image-placeholder"
        *ngIf="!previewImage"
        (click)="pickImage()"
      >
        <ion-icon name="camera"></ion-icon>
        <p>Toca para tomar una foto</p>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="description" rows="4"></ion-textarea>
    </ion-item>
    <div
      class="error-message"
      *ngIf="form.get('description')?.hasError('required') && form.get('description')?.touched"
    >
      La descripción es obligatoria
    </div>

    <div class="button-container">
      <ion-button expand="full" (click)="pickImage()" color="secondary">
        <ion-icon name="camera" slot="start"></ion-icon>
        Cambiar imagen
      </ion-button>

      <ion-button
        expand="full"
        type="submit"
        [disabled]="form.invalid || !imageBlob"
      >
        <ion-icon name="save" slot="start"></ion-icon>
        Guardar
      </ion-button>

      <ion-button
        expand="full"
        fill="outline"
        routerLink="/list"
        color="medium"
      >
        <ion-icon name="images" slot="start"></ion-icon>
        Ver galería
      </ion-button>
      <ion-button expand="full" fill="outline" (click)="test()" color="medium">
        <ion-icon name="images" slot="start"></ion-icon>
        Test
      </ion-button>
    </div>
  </form>
</ion-content>
