<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Registros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="items$ | async as items">
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img [src]="item.imageUrl" />
      </ion-thumbnail>
      <ion-label>
        <h3>{{ item.description }}</h3>
        <p>{{ item.createdAt | date:'medium' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text color="medium" *ngIf="(items$ | async)?.length === 0">
    No hay registros aún.
  </ion-text>
</ion-content>
